*.o
*.orig
.deps
.dirstamp
aclocal.m4
autom4te.cache
codelite/.codelite
codelite/.tern-port
codelite/.tern-project
codelite/GoatAttack/Debug
codelite/GoatAttack/Release
codelite/MapEditor/Debug
codelite/MapEditor/Release
codelite/MasterServer/Debug
codelite/MasterServer/Release
codelite/shared/Debug
codelite/shared/Release
codelite/Cargo/Debug
codelite/Cargo/Release
.build-debug
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
GoatAttack.mk
GoatAttack.txt
install-sh
libtool
ltmain.sh
m4/*.m4
missing
Makefile
Makefile.in
MapEditor.mk
MapEditor.txt
MasterServer.mk
MasterServer.txt
shared.mk
shared.txt
Cargo.mk
Cargo.txt
goatattack-cargo
src/Engine/goatattack
src/Game/goatattack
src/Server/goatattack-server
src/Engine/Makefile.in
src/MapEditor/goatattack-mapeditor
src/MapEditor/Makefile.in
src/MasterServer/goatattack-masterserver
src/MasterServer/Makefile.in
src/shared/libshared.a
base.pak
base.pak_dist
