*.o
*.orig
.deps
.dirstamp
autom4te.cache
codelite/.codelite
codelite/.tern-port
codelite/.tern-project
codelite/GoatAttack/Debug
codelite/GoatAttack/Release
codelite/MapEditor/Debug
codelite/MapEditor/Release
codelite/MasterServer/Debug
codelite/MasterServer/Release
config.log
config.status
GoatAttack.mk
GoatAttack.txt
libtool
Makefile
MapEditor.mk
MapEditor.txt
MasterServer.mk
MasterServer.txt
src/Engine/goatattack
src/MapEditor/goatattack-mapeditor
src/MasterServer/goatattack-masterserver
